@font-face {
    font-family: "fa";
    src: url(../../fonts/Fa/fa-solid-900.ttf);
}

@font-face {
    font-family: spartan-300;
    src: url(../../fonts/spartan/Spartan-Light.ttf);
}
@font-face {
    font-family: spartan-400;
    src: url(../../fonts/spartan/Spartan-Regular.ttf);
}
@font-face {
    font-family: spartan-700;
    src: url(../../fonts/spartan/Spartan-Bold.ttf);
}
